* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main {
    position: relative;
    background-color: #A8DFEC;
    height: 100vh;
}


/* INICIO - ESTILOS DEL HEADER CON FLEX */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    height: 60px;
}
.header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    margin: auto 20px;
    color: aquamarine;
    cursor: pointer;
} 
/* BARRA DE NAVEGACION */
nav a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-decoration: none;
    margin: auto 10px;
    color: aquamarine;
} 
nav a:hover, .header h1:hover {
    color: blue;
    text-shadow: 1px 1px 1px blue;
}
/* FIN - ESTILOS DEL HEADER CON FLEX */


/* INICIO - ESTILOS DE LA SECCION 1 */
/* TITULO */
.section1 h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}
/* TABLA */
.section1 table {
    border-collapse: collapse;
    width: 70%;
    margin: 20px auto;
}
table th {
    background-color: #0D9FBF;
    color: white;
}
table td {
    background-color: #E2EEF1;
    color: black;
}
table th , td {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}
/* FIN - ESTILOS DE LA SECCION 1 */


/* INICIO - ESTILOS DE SECCION 2 y 3 CON FLEX */
.section2 {
    display: flex;
    justify-content: center;
}
.div1, .div2, .div3 {
    text-align: center;
    width: 300px;
    height: 300px;
    margin: 10px;
}
.div1 {
    background-color: green;
}
.div2 {
    background-color: yellow;
}
.div3 {
    background-color: red;
}
/* FIN - ESTILOS DE SECCION 2 CON FLEX */

.section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}
.formulario {
    width: 30%;
    text-align: center;
    background-color: rgba(19, 21, 43, 0.7);
    border-radius: 8px;
}

.formulario div{
    padding: 15px;
    color: deepskyblue;
}
.formulario input, button {
    background-color: #333;
    color: deepskyblue;
    width: 100%;
    height: 40px;
    border-style: none;
    border-radius: 10px;
    font-size: 18px;

}
.formulario input:hover, button:hover {
    transition: 0.6s;
    background-color: deepskyblue;
    color: #333;
}
input {
    padding-left: 20px;
}

/* INICIO - ESTILOS DEL FOOTER */
.footer {
    text-align: center;
    padding: 12px;
    background-color: rgba(6, 71, 87, 0.7);
}
.footer .data *{
    display: inline-block;
    margin: auto 12px;
}
/* FIN - ESTILOS DEL FOOTER */